<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinhell">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinHell">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:label="Добавление"
            android:name=".AddTask" />
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".TaskCard"
            android:label="Подробнее" />
        <activity
            android:name=".ToDo"
            android:label="Список дел" />
        <activity
            android:name=".Calculator"
            android:label="Калькулятор" />
        <activity
            android:name=".QuadraticEquation"
            android:label="Квадратное уравнение" />
        <activity
            android:name=".HelloWorld"
            android:label="Hello World" />
        <activity
            android:name=".MainActivity"
            android:label="Разработка мобильных приложений">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>